<h3>Appointments for @Model.GetName()</h3>

<ul>
  @foreach (var client in @Model.GetClients())
  {
    <li>@client.GetName() | <a href="/appointment/edit/@client.GetId()">Edit</a> | <a href="/appointment/delete/@client.GetId()">Delete</a></li>
  }
</ul>

<form action="/new-appointment/@Model.GetId()" method="post">
  <label for="newClient">Make an Appointment with @Model.GetName()</label>
  <input id="newClient" name="newClient">
  <button type="submit">Make Appointment</button>
</form>
<a href="/">Back to Stylists</a>
